@import "tailwindcss";

@theme {
  --color-brand-background: #0a051b;
  --color-brand-surface: #180f33;
  --color-brand-text: #f5f2ff;
  --color-brand-accent: #c4b5fd;

  --color-mood-happiness: #fbbf24;
  --color-mood-sadness: #60a5fa;
  --color-mood-surprise: #fb923c;
  --color-mood-disgust: #d8b4fe;
  --color-mood-rage: #fca5a5;
  --color-mood-anxiety: #86efac;
  --color-mood-neutral: #94a3b8;

  --color-system-destructive: #ef4444;
  --color-system-success: #22c55e;
}

@layer base {
  html {
    cursor: default;
  }
}
